.about-icon {
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    column-gap: 30px;

        & .img {
            width: 270px;
                }

        & .title {
            margin-bottom: 10px;
            color: var(--title-text-color);
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
                }

        & .text {
            font-size: 14px;
            line-height: 1.71;
                }
}





