

.board {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
screen and (min-resolution: 192dpi) and (min-width: 480px), 
screen and (min-resolution: 2dppx) and (min-width: 480px){
    .board {
        background-image: url(../images/bg-phone@2x.jpg);
    }
}




 @media screen and (min-width: 768px) {
     .board {
        max-width: 768px;
        background-image:
        
                url(../images/bg-tablet.jpg);
     }
    }

         @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
                screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
             .board {
                 background-image: url(../images/bg-tablet@2x.jpg);
             }
            }
 


 @media screen and (min-width: 1200px) {
     .board {
            padding-top: 200px;
            padding-bottom: 200px;
            max-width: 1600px;
            height: 600px;
            
            background-image:

             url(../images/bg.jpg);
     }
    }

     @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
         .board {
             background-image: url(../images/bg@2x.jpg);
         }
     }
 




.board-title {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    

    @media screen and (min-width: 768px) {
        padding-left: 189px;
        padding-right: 189px;    
    }

    @media screen and (min-width: 1200px) {
        padding-left: 200px;
        padding-right: 200px;
        font-size: 44px;
        line-height: 1.36;
    }
    
}


